* {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --highlight-color: #f78383;
  --color-background-gradient-start: #e2c6c1;
  --color-background-gradient-end: #f78383;
  --color-white: #fff;

  --h1-size: 5rem;
  --p-size: 1.2rem;

  --p-margin-top: 1.5rem;

  --h1-font: "Fira Sans", sans-serif;
  --p-font: "Montserrat", sans-serif;

  --h1-spacing: 0.6rem;
  --p-spacing: 1rem;
}
body {
  color: #fff;
  background-color: #030207;
}

/* HERO AND VILAN SETTINGS */
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__background,
.vilan__background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -10;
}
.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(#030207, rgba(0, 0, 0, 0.4), #030207);
}
.vilan {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(#030207, rgba(0, 0, 0, 0.4), #030207);
}
.hero__foreground,
.vilan__foreground {
  color: var(--color-white);
  text-align: center;
  padding-top: 40vh;
}
.hero__title,
.vilan__title {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  letter-spacing: var(--h1-spacing);
  font-weight: 300;
  text-transform: uppercase;
  color: #f78383;
  text-shadow: 0 0 2px #fff, 0 0 5px #f78383, 0 0 7px #f78383;
}
.hero__text,
.vilan__text {
  font-family: var(--p-font);
  font-size: var(--p-size);
  letter-spacing: var(--p-spacing);
  font-weight: 300;
  margin-top: 2rem;
  text-transform: uppercase;
}
.navbar__list {
  margin-top: 13rem;
  text-align: center;
}
.navbar__list li {
  background-color: var(--color-background-gradient-end);
  display: inline-block;
  padding: 1rem 1.5rem;
  width: fit-content;
  border: 2px solid transparent;
  border-radius: 9999px;
  transition: all 0.6s ease;
  margin-left: 10px;
  font-size: 14px;
}
.navbar__list li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-background-gradient-end);
}
.navbar__btn a {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--p-font);
}

/* FIRST SECTION SETTINGS */

.section {
  overflow: hidden;
  padding: 0 8rem;
  text-align: center;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4)
  );
}
.section__img-inline {
  margin-right: 4rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  height: 40rem;
  width: 29rem;
  float: left;
  box-shadow: 0 0 2px #fff, 0 0 5px #f78383, 0 0 7px #f78383;
}
.section__title {
  margin: 2rem;
  font-family: var(--h1-font);
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 0.9rem;
  text-transform: uppercase;
}
.section__text-inline {
  text-align: left;
  text-align: justify;
  font-weight: 300;
}
.section__text-inline p {
  margin-top: var(--p-margin-top);
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.emphasis__text {
  color: #f78383;
  text-shadow: 0 0 2px #fff, 0 0 5px #f78383, 0 0 7px #f78383;
}

/* SECOND SECTION SETTINGS */
.section__subtitle {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
}
.section2__imgbackground {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  position: absolute;
  right: 0;
  z-index: -10;
}

.plant__sec {
  display: flex;
  gap: 0 15px;
  justify-content: space-evenly;
}

.plant__img {
  width: 18rem;
  height: 18rem;
  border-radius: 1rem;
}
.hover_img {
  position: relative;
}
.hover_img span {
  border: 2px solid transparent;
  border-radius: 1rem;
  position: absolute;
  opacity: 0;
  margin-bottom: 4px;
  width: 18rem;
  height: 18rem;
  bottom: 0.1px;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  font-weight: 900;
  padding: 140px 0 140px 13px;
  font-family: var(--p-font);
  letter-spacing: 0.8rem;
  transition: all 0.8s ease;
  text-transform: uppercase;
}
.hover_img:hover span {
  border: 2px solid var(--color-background-gradient-end);
  box-shadow: 0 0 2px #fff, 0 0 5px #f78383, 0 0 7px #f78383;
  opacity: 1;
  bottom: 0;
}

/* THIRD SECTION ----- SAME CONFIGURATION AS THE FIRST SECTION SETTINGS */

/* VILAN SECTION SETTINGS */

.vilancontact > p {
  font-family: var(--h1-font);
  font-size: 700;
  letter-spacing: 0.2rem;
  font-style: italic;
  text-align: center;
  margin-top: 4rem;
  text-transform: uppercase;
}
.vilan__text {
  font-weight: 700;
}
.vilan__background {
  object-position: center 72%;
}
/* FOOTER SETTINGS */

.footer {
  padding: 2rem 0;
  text-align: center;
  background-color: #030207;
}

/* MEDIA QUERY SETTINGS */
@media (min-width: 2560px) {
  .navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
  }
  .navbar__list li {
    font-size: 120%;
  }
  .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 400%;
    margin-left: 50px;
  }
  .section__img-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    height: auto;
  }
  .section__text-inline p {
    font-size: 150%;
  }
  .plant__sec {
   display: flex;
   justify-content: center;
   gap: 0 6rem;
  }

}
@media (max-width: 1440px) {
  .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
    margin-left: 50px;
  }
  .section__img-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
  }
  .plant__sec {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

}
@media (max-width: 1024px) {
  .navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 100%;
    margin-top: 100px;
  }
  .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
    margin-left: 50px;
  }
  .section__img-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .plant__sec {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
@media (max-width: 768px) {
  .hero__background {
    width: 100%;
    height: 100vh;
  }
  .navbar__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin: 50px;
  }
  .navbar__list li {
    font-size: 70%;
    padding: 0.7rem 0.8rem;
  }
  .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
    margin-left: 50px;
  }
  .section__img-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .plant__sec {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .vilan__background {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 425px) {
  .hero__background {
    width: 100%;
    height: 100vh;
  }
  .hero__title {
    font-size: 100%;
  }
  .hero__text {
    font-size: 60%;
    text-align: center;
  }
  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin-top: 8rem;
  }
  .navbar__list li {
    padding: 10px;
    font-size: 60%;
  }
  .section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    margin-left: 50px;
  }
  .section__img-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-right: 50px;
  }
  .section__text-inline p {
    font-size: 80%;
    letter-spacing: normal;
  }
  .section__subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
  }
  .plant__sec {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .hover_img {
    width: 100%;
    height: auto;
  }
  .plant__img {
    width: 100%;
    height: 100%;
  }
  .vilan__background {
    width: 100%;
    height: 100vh;
  }
  .vilan__title {
    font-size: 150%;
  }
  .vilan__text {
    font-size: 90%;
  }
}

@media (max-width: 325px) {
  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin: 60px;
  }
  .navbar__list li {
    font-size: 60%;
  }
  .section__text-inline p {
    font-size: 80%;
    letter-spacing: normal;
  }
  .section__img-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-right: 50px;
  }
  .plant__sec {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
